.profile {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    text-align: center;
}

.profile-btn {
    margin: 0 auto;
    margin-top: 1rem;
    width: max-content;
    padding: 1rem;
    background-color: rgb(58, 183, 58);
    font-size: 1.2rem;
}

.profile-btn:hover {
    background-color: yellow;
    cursor: pointer;
}

.editor {
    margin: 0 auto;
}

.editor-input {
    padding: 1rem;
    border: 1px solid black;
}